<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logs</title>

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: sans-serif;
            font-size: 16px;
            color: #222;
        }

        body.dark-theme {
            background: #333;
            color: #f6f6f6;
        }

        main {
            display: flex;
            width: 80%;
            margin: 40px auto;
            flex-wrap: wrap;
        }

        .main-content {
            flex: 1 1 46%;
            margin: 0 2%;
        }

        a {
            color: cornflowerblue;
            text-decoration: none;
            display: inline-block;
        }

        button {
            outline: none;
            border: none;
            background: #ddd;
            color: #333;
            display: inline-block;
            padding: 5px 10px;
            cursor: pointer;
        }

        body.dark-theme button {
            background: #222;
            color: #f6f6f6;
        }

        input:not([type=checkbox]):not([type=radio]) {
            width: 300px;
        }

        input,
        textarea {
            margin: 5px 0;
            outline: none;
            border: 2px solid #ddd;
            padding: 5px;
        }

        textarea {
            width: 100%;
            min-height: 250px;
            resize: vertical;
        }

        body.dark-theme input:not([type=checkbox]):not([type=radio]),
        body.dark-theme textarea {
            background: #333;
            color: #f6f6f6;
            border-color: #222;
        }

        .ta-wrapper {
            height: 60vh;
            overflow: scroll;
            border: 2px solid #ddd;
            margin: 5px 0;
            padding-right: 10px;
        }

        body.dark-theme .ta-wrapper {
            border-color: #222;
        }

        .ta-wrapper textarea {
            margin: 0;
            border: none;
            min-height: 200vh;
        }

        .ticket {
            margin-bottom: 20px;
        }

        .ticket .time {
            font-size: 14px;
            color: #666;
        }

        .ticket .title {
            font-weight: bold;
            margin: 3px 0;
        }

        .ticket .detail {
            font-size: 14px;
        }

        #total span {
            font-size: 18px;
            color: #666;
            border-top: 2px solid #ddd;
            padding: 5px;
            display: inline-block;
        }

        body.dark-theme #total span {
            border-color: #222;
        }

        .history-item {
            background: #eee;
            margin: 5px 0;
            padding: 5px;
            border-radius: 3px;
            color: #000;
            font-size: 14px;
        }

        body.dark-theme .history-item {
            background: #444;
            color: #f6f6f6;
        }

        .history-item.active {
            box-shadow: inset 0 0 0 2px #ddd;
            background: #f6f6f6;
        }

        body.dark-theme .history-item.active {
            box-shadow: inset 0 0 0 2px #444;
            background: #333;
        }

        #loader {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(200, 200, 200, 0.3);
            user-select: none;
            color: #333;
            display: none;
        }

        #timeline {
            margin: 40px auto;
            display: flex;
        }

        #timeline .range {
            position: relative;
            background: linear-gradient(to right, #eee, #ccc);
            height: 10px;
            font-size: 12px;
        }

        body.dark-theme #timeline .range {
            background: linear-gradient(to right, #555, #444);
        }

        #timeline .range.hover .range-ticket {
            background: #eee;
        }

        body.dark-theme #timeline .range.hover .range-ticket {
            background: #444;
        }

        #timeline .range.has-range-to:not(:last-child) {
            background: linear-gradient(to right, #eee, crimson);
        }

        body.dark-theme #timeline .range.has-range-to:not(:last-child) {
            background: linear-gradient(to right, #555, crimson);
        }

        #timeline .range.has-range-to:not(:last-child) .range-to {
            color: red;
        }

        #timeline .range.minutes-missing {
            background: #ccc;
            color: #888;
            width: 50px;
        }

        #timeline .range.minutes-missing .range-bottom {
            justify-content: center;
        }

        #timeline .range-ticket {
            position: absolute;
            bottom: 100%;
            padding: 5px 0;
            width: 100%;
            text-align: center;
            cursor: default;
        }

        #timeline .range-bottom {
            position: absolute;
            top: 100%;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        #timeline .range-bottom > div {
            padding: 5px;
        }

        #result.report {
            background: #fff !important;
            color: #000 !important;
            padding: 10px;
        }
    </style>
</head>
<body class="<?= $theme ?>-theme">
    <div id="loader"><span>Please wait.</span></div>
